.breadcrumbs {
  &__item {
    display: inline-block;
    position: relative;
    font-size: 14px;
    line-height: 1;
    color: #57575a;
    cursor: pointer;
    @include for-phone-only {
      font-size: 12px;
    }
    &:hover,
    &:focus {
      color: #57575a;
      text-decoration: underline;
    }
    &:visited {
      color: #57575a;
    }
    &:not(:first-child) {
      margin-left: 8px;
      padding-left: 16px;
      &::before {
        content: "\f3d6";
        font-family: $io;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    &:first-child {
      i {
        margin-right: 15px;
      }
    }
    &:last-child {
      pointer-events: none;
    }
  }
}
