// Contacts
.contacts {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: 0;
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    &_menu {
      display: none;
      @media (max-width: 899px) {
        display: block;
      }
    }
  }
  &__text {
    font-family: $main-font;
    font-size: 24px;
    line-height: 1;
    color: $white;
    letter-spacing: 3px;
  }
  &__pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $white;
    font-family: "Ionicons";
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    color: $black;
    margin-right: 14px;
  }
}

// Decor
.decor {
  position: relative;
  &::before,
  &::after {
    content: "";
    display: block;
    z-index: 2;
  }
  &::before {
    width: 40px;
    height: 1px;
    background-color: rgba($accent-dark, 0.2);
    position: absolute;
    left: 0;
    top: 100px;
  }
  &::after {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: rgba($accent-dark, 0.2);
    position: absolute;
    left: 40px;
    top: 95px;
    box-shadow: inset 0 0 0 1px rgba($accent-dark, 0.2), inset 0 0 0 3px $white;
  }
}

// Box
.box {
  border-bottom: 2px solid $bg-color;
  background: {
    color: $white;
    image: url(../img/lines-bg.png);
    repeat: no-repeat;
    position: center;
  }
}

// Map
#map {
  width: 100%;
  height: 100%;
}

// Hamburger
.menu-btn {
  display: none;
  width: 30px;
  height: 30px;
  background-color: $white;
  border-radius: 50%;
  outline: none;
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 21;
  &.is-active {
    z-index: 40;
  }
  @media (max-width: 899px) {
    display: inline-block;
  }
}
