extends ../template-page.pug

block title
  - title = blogSingle.title

block breadcrumb
  - brc = blogSingle.brc
  
block heading
  - var h1 = blogSingle.h1
  
block aside
  - img = 'service.jpg'

block content
  ul.filter
    li
      a(href="#") # методики лечения
      
  .blog
    .blog-content
      .blog-content__promo
        p Каждый человек мечтает о красивой, здоровой и блистательной улыбке. Улыбка всегда была визитной карточкой человека. Но с возрастом в виду различных негативных факторов здоровье зубов ухудшается, зубы темнеют, появляются микротрещины, кариес. Любой из негативных процессов может привести к потере части зуба, либо образованию отверстия.
      
      h2 Лазер прочно входит в ежедневную стоматологическую практику
      
      p Лазер прочно входит в ежедневную стоматологическую практику. Область его применения постоянно расширяется. Это не дань моде, не лукавый рекламный прием, а реальная помощь пациенту и хорошее подспорье врачу. Применение лазера позволяет в значительной степени упростить и ускорить процесс выздоровления, даже при сложных стоматологических операциях. Рассечение мягких тканей, вскрытие имплантанта для дальнейшей работы – вот основное применение лазера при имплантации зубов. Вот почему постоянно востребована лазерная имплантация зубов. Киев готов полностью удовлетворить спрос на протезирование на имплантах с лазерными технологиями.
      
      p Имплант – оптимальное решение. Если нет индивидуальных противопоказаний и устраивает цена, выбор очевиден. Съемные протезы, мостовые конструкции постоянно напоминают о себе. А имплант, вживленный в кость челюсти через недолгий срок становится неотъемлемой частью вашего организма. Он не требует специального ухода, регулярных профилактических процедур и хронических визитов к стоматологу.
      
      img(src="img/blog-1.jpg", alt="Подпись к фотографии или описание", title="Подпись к фотографии или описание")
      
      h2 Преимущества лазерной имплантации зубов
      
      p Лазерная имплантация зубов, стоимость и технологичность процесса сегодня находятся в самом центре передовых исследований. Их результаты немедленно внедряются в методики наших клиник. Причем, решения все чаще становятся комплексными. Лазерная обработка тканей совершенно бескровна. Мягкое воздействие лазера за долю секунды сворачивает кровь. Его автоматическая точность дозирует глубину воздействия до микрона и немедленно дезинфицирует место хирургического контакта. Таким образом, многие операции, которые из-за необходимости реабилитационного периода, ранее проводились поэтапно, в настоящее время делают за один прием. Вот почему в опции «лазерная имплантация зубов»
      
      img(src="img/blog-2.jpg", alt="", class="pull-right")
        
      p Технология имеет отличную статистику. Независимые центры утверждают, что заживление после операций с использованием лазера, в большинстве случаев происходит в два раза быстрее. А риск возникновения отечности при установке имплантата сведен к минимуму.
      
      p Лазерная имплантация зубов, стоимость и технологичность процесса сегодня находятся в самом центре передовых исследований. Их результаты немедленно внедряются в методики наших клиник. Причем, решения все чаще становятся комплексными.
      
      table
        thead
          tr
            th Название
            th Колонка
            th Текст
            th Цена
        tbody
          tr
            td Название
            td Колонка
            td Текстовое описание содержимого
            td 5444.00
            
      p Лазерная имплантация зубов, стоимость и технологичность процесса сегодня находятся в самом центре передовых исследований. Их результаты немедленно внедряются в методики наших клиник. Причем, решения все чаще становятся комплексными. Лазерная обработка тканей совершенно бескровна. Мягкое воздействие лазера за долю секунды сворачивает кровь. Его автоматическая точность дозирует глубину воздействия до микрона и немедленно дезинфицирует место хирургического контакта. Таким образом, многие операции, которые из-за необходимости реабилитационного периода, ранее проводились поэтапно, в настоящее время делают за один прием. Вот почему в опции «лазерная имплантация зубов», цена такой имплантации, в конечном счете, оказывается ниже.
      
      p Стоматологическая клиника не может считаться качественной, если у нее нет услуги «лазерная имплантация зубов». Отзывы пациентов об этой операции только положительные. Отмечается:
      
      ul
        li безболезненность;
        li бескровность;
        li быстротечность;
        li отсутствие осложнений;
      
      p.text-italic Лазер в стоматологии — отличный пример того, как гибкое и динамичное использование современной технологии в интересах пациента дает немедленный позитивный эффект.

  .related
    .related__head
      h2.releated__heading Рекомендуемые публикации
      
    .related__body
      .related__item
        a.related__link(href="#") Всё о язвах во рту — причины, лечение, профилактика
        a.blog-post__tag(href="#") # методики лечения
        
      .related__item
        a.related__link(href="#") Растет зуб мудрости. Симптомы. Лечение.
        a.blog-post__tag(href="#") # методики лечения
        
      .related__item
        a.related__link(href="#") Новое технологичное оборудование в клинике
        a.blog-post__tag(href="#") # методики лечения
