extends ../template.pug

block title
  - title = index.title

block content
  main.main#main
    section.top
      img.top__img-mob.img-responsive(src="img/i-mob.jpg" alt="")
      
      .top__about.decor.box
        h1.top__h1 Стоматологическая клиника Innovo
        p.top__lead 
          | Лучшие специалисты
          br 
          | и опыт - залог здоровья наших клиентов
          
    section.section.section_offset-l.section_offset-tb.box
      .container-fluid
        h2.section__h2 Наши ценности
      
        .benefits
          .benefits__item
            h3.benefits__h3 Технологии
            p.benefits__p
              | Digital Smile design
              br
              | Sirona Cerec Connect
          
          .benefits__item
            h3.benefits__h3 Точность
            p.benefits__p Использование операционного микроскопа Carl Zeiss
          
          .benefits__item
            h3.benefits__h3 Безопасность
            p.benefits__p Установка имплантатов по точно смоделированному цифровому шаблону.
            
    section.services.section.section_offset-l.section_offset-t
      .container-fluid
        h2.section__h2 Услуги клиники
        
        .row
          .services__content
            .services__left
              ul.services__list
                li
                  a(href="#") Реставрация
                    br 
                    | зубов
                li
                  a(href="#") Имплантация
                li
                  a(href="#") Детский
                    br 
                    | прием
                li
                  a(href="#") Все услуги
              
            .services__right
              figure.services__figure
                img(src="img/s-1.jpg", alt="")
                  
            .services__info
              p.text-bold.text-right Перезвоните в приемную клиники и  мы подберем для вас удобное время посещения специалиста
              
              .services__tel
                span.icon
                  i.ion-ios-telephone-outline
                    
                span.number 044 220 45 45
            //- include ../partials/price-table.pug

    section.section.section_offset-l.section_offset-tb.about.decor.box
      .container-fluid
        h2.section__h2 О клинике innovo

        .row
          .col-lg-4
            p
              span.text-bold Innovo dental clinic
              | - частная стоматологическая клиника, которая объединила в себе квалифицированную команду специалистов, современные цифровые технологии и индивидуальный подход к каждому пациенту.

            p
              span.text-bold Основное направление
              | - комплексная реабилитация пациентов, эстетическое безметалловое протезирование и дентальная имплантация.

            p
              span.text-bold Залог успеха 
              | - тщательно спланированная работа, командный подход, высокая технологичность, качество и безопасность.

            p
              span.text-bold Результат 
              | - наши работы всегда превосходят ожидания наших клиентов.

          .col-lg-6.col-lg-offset-1
            .owl-carousel
              div
                img.img-responsive(src="img/c2.jpg" alt="")
              div
                img.img-responsive(src="img/c5.jpg" alt="")
              div
                img.img-responsive(src="img/c3.jpg" alt="")
    
    section.section.section_offset-t.section_offset-b.box.team
      .container-fluid
        h2.section__h2.section_offset-l Наши специалисты
        
        .team__all.row.flex
          .team__left
            figure
              img.img-responsive(src="img/team.jpg" alt="")
                
          .team__right
            p.team__lead Для вас трудятся
            
            p.team__amount 14
            
            p.team__lg.text-uppercase 
              | Высококласных
              br
              | врачей
              
            a.button.team__btn 
              | Познакомимся ближе
              i.ion-ios-arrow-right
          
        .single
          h2.section__h2 Так же в нашей команде
        
          .single__container.flex
            .single__left
              p.single__name Ярослав Стельмах
              
              p 
                span.text-bold зубной техник
                | - преподаватель на курсах по цифровому планированию и сертифицированный тренер по техническому направлению компании Dentsply Sirona *
              
              p.text-bold *на январь 2017 в Украине всего два таких специлиста
              
            .single__right
              figure
                img.img-responsive(src="img/jaroslav-stelmah.jpg" alt="")
        
        
    section.section.section_offset-r.section_offset-t.lab
      .container-fluid
        h2.section__h2.section_offset-l Innovo Digital lab
        
        .row.flex
          .lab__left
            figure
              img.img-responsive(src="img/l1.jpg" alt="")

          .lab__right
            p
              span.text-bold Абсолютно уникальная зуботехническая лаборатория, 
              | которая не имеет аналогов в Украине. В 2017г получила сертификацию немецкой компании Sirona. Работает исключительно в цифровом протоколе.
            
            p Благодаря инновационной системе Inlab от Sirona на базе который работает лаборатория, возможности стали практически безграничными.
            
    section.tools.section.section_offset-l.section_offset-t
      .container-fluid
        h2.section__h2 Мы используем только лучшее оборудование и лучшие технологии
        
        .row
          .tools__container
            each item in index.tools
              .tools__item
                .tools__img
                  img(src=`/img/${item.img}`, alt="")
                
                h3.tools__heading !{item.h}
                  
                p.tools__p !{item.p}
                
    section.charity.section.section_offset-l.section_offset-t.section_offset-b
      .container-fluid
        .row
          .col-lg-5
            h2.section__h2 
              | Часть денег
              br
              | потраченных на лечение
              br
              | отчисляется
              br
              | на благотворительность
          
          .col-lg-7
            p.text-bold.charity__lead Мы поддреживаем программу «Створи своє майбутне» направленную на детей сирот для получения их профориентации после интерната
            
        .row
          .charity__container
            p.charity__label Совместно с благотворительным фондом «Единственная» проектом GoIT и StartupUkraine
            
            .charity__partners
              .charity__item
                p
                  | «единственная»
                  small благотворительный фонд
                  
              .charity__item
                img(src="/img/go-it.png", alt="")
                
              .charity__item
                img(src="/img/startup-ukraine.png", alt="")

    include ../partials/contacts.pug
