extends ../template.pug

block title
  - title = index.title

block content
  main.main#main
    section.top
      img.top__img-mob.img-responsive(src="img/i-mob.jpg" alt="")
      
      .top__about.decor.box
        h1.top__h1 Стоматологическая клиника Innovo
        p.top__lead 
          | Лучшие специалисты
          br 
          | и опыт - залог здоровья наших клиентов
          
    section.section.section_offset-l.section_offset-tb.box
      .container-fluid
        h2.section__h2 Наши ценности
      
        .benefits
          .benefits__item
            h3.benefits__h3 Технологии
            p.benefits__p
              | Digital Smile design
              br
              | Sirona Cerec Connect
          
          .benefits__item
            h3.benefits__h3 Точность
            p.benefits__p Использование операционного микроскопа Carl Zeiss
          
          .benefits__item
            h3.benefits__h3 Безопасность
            p.benefits__p Установка имплантатов по точно смоделированному цифровому шаблону.

    section.section.section_offset-l.section_offset-tb.about.decor.box
      .container-fluid
        h2.section__h2 О клинике innovo

        .row
          .col-lg-4
            p
              span.text-bold Innovo dental clinic
              | - частная стоматологическая клиника, которая объединила в себе квалифицированную команду специалистов, современные цифровые технологии и индивидуальный подход к каждому пациенту.

            p
              span.text-bold Основное направление
              | - комплексная реабилитация пациентов, эстетическое безметалловое протезирование и дентальная имплантация.

            p
              span.text-bold Залог успеха 
              | - тщательно спланированная работа, командный подход, высокая технологичность, качество и безопасность.

            p
              span.text-bold Результат 
              | - наши работы всегда превосходят ожидания наших клиентов.

          .col-lg-6.col-lg-offset-1
            .owl-carousel
              div
                img.img-responsive(src="img/c2.jpg" alt="")
              div
                img.img-responsive(src="img/c5.jpg" alt="")
              div
                img.img-responsive(src="img/c3.jpg" alt="")

    section.section.section_offset-r.section_offset-t.lab
      .container-fluid
        h2.section__h2.section_offset-l Innovo Digital lab
      
        .row.flex
          .lab__left
            figure
              img.img-responsive(src="img/l1.jpg" alt="")

          .lab__right
            p
              span.text-bold Абсолютно уникальная зуботехническая лаборатория, 
              | которая не имеет аналогов в Украине. В 2015г получила сертификацию немецкой компании Sirona. Работает исключительно в цифровом протоколе.
            
            p Благодаря инновационной системе Inlab от Sirona на базе который работает лаборатория, возможности стали практически безграничными.

    section.services.decor#services
      .services__header
        h2.services__heading.box Услуги
        .services__banner

      .services__content
        include ../partials/price-table.pug

    include ../partials/contacts.pug
