extends ../template-page.pug

block title
  - title = services.title

block breadcrumb
  - brc = services.brc
  
block heading
  - var h1 = services.h1
  
block aside
  - img = 'service.jpg'

block content
  include ../partials/price-table.pug
  
  section.services-about
    .container-fluid
      .row
        .col-lg-5
          h2.services-about__heading
            | Почему,
            br
            | если стоматология,
            br
            | то innovo?
            
          p Клиника и лаборатория занимается только безметалловым протезированием, стараемся работать в абсолютно цифровом протоколе, не снимая слепков с зубов (негативное явление-рвотный рефлекс, который у многих присутствует), а делая цифровой скан зубов внутриоральным сканером(Sirona Omnicam), после чего вся информация передается в нашу лабораторию, где техники делают виртуальное (3D) моделирование будущих реставраций (Sirona inLab) и после фрезеруют конструкции во фрезере (Sirona MC X5).
          
        .col-lg-6.col-lg-offset-1
          figure
            img.img-responsive(src="img/c3.jpg", alt="")
