extends ../template-page.pug

block title
  - title = services.title

block breadcrumb
  - brc = services.brc
  
block heading
  - var h1 = services.h1
  
block aside
  - img = 'service.jpg'

block content
  include ../partials/price-table.pug
