extends ../template.pug

block title
  - title = "Test 2"

block content
  main#main.main
    aside.aside
      p aside
      
    .content
      p content
      
      include ../partials/contacts.pug
