include mixins/section.pug

block breadcrumb
  - var brc = "test"
  
block aside
  - var img = "img"
  
block heading
  - var h1 = "h1"

doctype
html
  include partials/head
  
  body.page
    #top

    #loader.loader
      .loader__inner
    
    //- Mobile overlay, close and open buttons
    include partials/mobile
    
    //- Navigation + socials
    include partials/nav
    
    //- Header
    include partials/header
    
    aside.aside
      figure
        img(src=`img/${img}`, alt="")
        
    main.main  
      .content
        .content__header
          .breadcrumbs
            a.breadcrumbs__item(href="/")
              i.ion-ios-home-outline
              | Главная
              
            a.breadcrumbs__item(href="#") #{brc}
            
          h1.content__h1 !{h1}
          
        .content__body
          block content
            p test
          
        include partials/contacts.pug
      
        include partials/footer
