.aside {
  width: 27%;
  height: 100%;
  position: fixed;
  left: 6%;
  top: 0;
  background-color: $white;
  z-index: 9;
  overflow: hidden;
  figure {
    img {
      display: block;
      height: 100%;
      width: auto;
    }
  }
}
