.blog {
  overflow: hidden;
  position: relative;

  // Blog post
  &-post {
    padding: 120px 20% 120px 10%;
    border-top: 1px solid rgba(#57575a, 0.1);
    &__figure {
      margin-bottom: 50px;
    }
    &__heading {
      line-height: 60px;
      margin-bottom: 40px;
    }
    &__tag {
      display: inline-block;
      text-transform: uppercase;
      color: #939392;
      font-family: $main-font;
      font-weight: 900;
      line-height: 1;
      margin-bottom: 40px;
      &:hover,
      &:focus {
        color: #939392;
      }
    }
    &__excerpt {
      font-size: 18px;
      line-height: 42px;
      margin-bottom: 60px;
      max-width: 780px;
    }
    &__meta {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    &__data {
      display: inline-block;
      padding-left: 26px;
      font-family: $main-font;
      font-size: 16px;
      font-weight: 700;
      line-height: 1;
      letter-spacing: 2px;
      padding-right: 60px;
      border-right: 1px solid $black;
      position: relative;
      &::before {
        content: "\f117";
        display: inline-block;
        font-family: $io;
        font-weight: 300;
        position: absolute;
        left: 0;
      }
    }
    &__more {
      display: inline-block;
      padding-left: 60px;
      padding-right: 26px;
      position: relative;
      font-family: $main-font;
      font-size: 16px;
      font-weight: 900;
      color: $black;
      letter-spacing: 2px;
      &:hover {
        color: $black;
        text-decoration: underline;
        &::after {
          transform: translateX(10px);
        }
      }
      &::after {
        content: "\f3d6";
        display: inline-block;
        font-family: $io;
        font-weight: 300;
        position: absolute;
        right: 0;
        transition: transform 400ms ease-in-out;
      }
    }
  }

  // Blog content
  &-content {
    padding: 120px 15%;
    border-top: 1px solid rgba(#57575a, 0.1);
    &__promo {
      margin-bottom: 120px;
      p {
        font-size: 24px;
        font-weight: 700;
        line-height: 56px;
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    h2 {
      font-size: 30px;
      line-height: 56px;
      margin-bottom: 20px;
    }
    p {
      font-size: 18px;
      line-height: 42px;
      margin-bottom: 50px;
    }
    table {
      width: 100%;
      margin-bottom: 100px;
      clear: both;
      th,
      td {
        border: 1px solid #e0e0e0;
      }
      th {
        padding: 40px 25px 20px;
        background-color: #eeeeee;
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
        vertical-align: top;
        &:last-child {
          text-align: right;
        }
      }
      td {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        padding: 25px 20px;
        vertical-align: middle;
        &:nth-child(3) {
          font-size: 14px;
          font-weight: 400;
        }
        &:last-child {
          font-size: 24px;
          font-weight: 400;
          text-align: right;
        }
      }
    }
    figure {
      width: 100%;
      margin-bottom: 90px;
      figcaption {
        font-size: 16px;
        font-weight: 600;
        text-align: right;
        font-style: italic;
        margin-top: 20px;
      }
    }
    img {
      display: block;
      width: auto;
      max-width: 100%;
      height: auto;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0 0 40px;
      li {
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 10px;
        padding-left: 20px;
        position: relative;
        &::before {
          content: "";
          display: block;
          width: 3px;
          height: 6px;
          background-color: #57575a;
          position: absolute;
          left: 0;
          top: 12px;
        }
      }
    }
  }
}
