.blog {
  overflow: hidden;
  position: relative;

  // Blog post
  &-post {
    padding: 120px 20% 120px 10%;
    border-top: 1px solid rgba(#57575a, 0.1);
    @media #{$mw-1200} {
      padding: 70px 40px;
    }
    @include for-phone-only {
      padding: 60px 15px;
    }
    &__figure {
      margin-bottom: 50px;
    }
    &__heading {
      line-height: 60px;
      margin-bottom: 40px;
      @media #{$mw-1200} {
        font-size: 30px;
        line-height: 42px;
      }
      @include for-phone-only {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 1px;
        margin-bottom: 30px;
      }
    }
    &__tag {
      display: inline-block;
      text-transform: uppercase;
      color: #939392;
      font-family: $main-font;
      font-weight: 900;
      line-height: 1;
      margin-bottom: 40px;
      &:hover,
      &:focus {
        color: #939392;
      }
    }
    &__excerpt {
      font-size: 18px;
      line-height: 42px;
      margin-bottom: 60px;
      max-width: 780px;
      @media #{$mw-1200} {
        font-size: 16px;
        line-height: 36px;
        margin-bottom: 40px;
      }
      @include for-phone-only {
        line-height: 30px;
      }
    }
    &__meta {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      @include for-phone-only {
        justify-content: space-between;
        position: relative;
        &::before {
          content: '';
          width: 1px;
          height: 100%;
          background-color: $black;
          position: absolute;
          left: 50%;
          top: 0;
        }
      }
    }
    &__data {
      display: inline-block;
      padding-left: 26px;
      padding-right: 60px;
      font-family: $main-font;
      font-size: 16px;
      font-weight: 700;
      line-height: 1;
      letter-spacing: 2px;
      border-right: 1px solid $black;
      position: relative;
      @media #{$mw-1200} {
        font-size: 14px;
        padding-left: 20px;
        padding-right: 30px;
      }
      @include for-phone-only {
        padding-right: 0;
        border-right: none;
      }
      &::before {
        content: "\f117";
        display: inline-block;
        font-family: $io;
        font-weight: 300;
        position: absolute;
        left: 0;
      }
    }
    &__more {
      display: inline-block;
      padding-left: 60px;
      padding-right: 26px;
      position: relative;
      font-family: $main-font;
      font-size: 16px;
      font-weight: 900;
      color: $black;
      line-height: 1;
      letter-spacing: 2px;
      text-transform: uppercase;
      @media #{$mw-1200} {
        font-size: 14px;
        padding-left: 30px;
        padding-right: 20px;
      }
      @include for-phone-only {
        padding-left: 0;
      }
      &:hover {
        color: $black;
        text-decoration: underline;
        &::after {
          transform: translateX(10px);
        }
      }
      &::after {
        content: "\f3d6";
        display: inline-block;
        font-family: $io;
        font-weight: 300;
        position: absolute;
        right: 0;
        transition: transform 400ms ease-in-out;
      }
    }
  }

  // Blog content
  &-content {
    padding: 120px 16%;
    border-top: 1px solid rgba(#57575a, 0.1);
    @media #{$mw-1680} {
      padding: 70px 10%;
    }
    @media #{$mw-1440} {
      padding: 70px 5%;
    }
    @media #{$mw-1200} {
      padding: 70px 40px;
    }
    @include for-phone-only {
      padding: 60px 15px;
    }
    h2 {
      font-size: 30px;
      line-height: 56px;
      margin-bottom: 20px;
      @media #{$mw-1200} {
        line-height: 48px;
      }
      @include for-phone-only {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 1px;
      }
    }
    p {
      font-size: 18px;
      line-height: 42px;
      margin-bottom: 50px;
      @media #{$mw-1200} {
        font-size: 16px;
        line-height: 36px;
        margin-bottom: 40px;
      }
      @include for-phone-only {
        line-height: 30px;
      }
    }
    .table {
      margin-bottom: 100px;
      overflow-x: auto;
    }
    table {
      width: 100%;
      min-width: 660px;
      clear: both;
      th,
      td {
        border: 1px solid #e0e0e0;
        font-size: 18px;
        font-weight: 700;
        @include for-phone-only {
          font-size: 16px;
        }
      }
      th {
        padding: 40px 25px 20px;
        background-color: #eeeeee;
        line-height: 1;
        vertical-align: top;
        @include for-phone-only {
          padding: 40px 15px 15px;
        }
        &:last-child {
          text-align: right;
        }
      }
      td {
        line-height: 24px;
        padding: 25px 20px;
        vertical-align: middle;
        @include for-phone-only {
          padding: 30px 15px;
        }
        &:nth-child(3) {
          font-size: 14px;
          font-weight: 400;
        }
        &:last-child {
          font-size: 24px;
          font-weight: 400;
          text-align: right;
        }
      }
    }
    figure {
      width: 100%;
      margin-bottom: 90px;
      @include for-phone-only {
        width: calc(100% + 30px);
        max-width: calc(100% + 30px) !important;
        margin-bottom: 60px;
        margin-left: -15px !important;
        margin-right: -15px !important;
        float: none !important;
      }
      figcaption {
        font-size: 16px;
        font-weight: 600;
        text-align: right;
        font-style: italic;
        margin-top: 20px;
        @include for-phone-only {
          font-size: 14px;
          padding: 0 15px;
        }
      }
    }
    img {
      display: block;
      width: auto;
      max-width: 100%;
      height: auto;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0 0 40px;
      li {
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 10px;
        padding-left: 20px;
        position: relative;
        @include for-phone-only {
          font-size: 16px;
        }
        &::before {
          content: "";
          display: block;
          width: 3px;
          height: 6px;
          background-color: #57575a;
          position: absolute;
          left: 0;
          top: 12px;
        }
      }
    }
    &__promo {
      margin-bottom: 120px;
      @media #{$mw-1440} {
        margin-bottom: 70px;
      }
      p {
        font-size: 24px;
        font-weight: 700;
        line-height: 56px;
        margin-bottom: 30px;
        @media #{$mw-1200} {
          font-size: 20px;
          line-height: 48px;
        }
        @include for-phone-only {
          font-size: 18px;
          line-height: 36px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
