.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 95px;
  @include for-tablet-portait-only {
    padding-right: 70px;
  }
  @include for-phone-only {
    padding-right: 70px;
  }
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    min-height: 145px;
    padding: 25px;
    background-color: $logo-bg;
    @include for-tablet-portait-only {
      width: 180px;
      min-height: 100px;
    }
    @include for-phone-only {
      width: 110px;
      min-height: 66px;
      padding: 15px;
    }
  }
  &__contacts {
    margin-top: 10px;
    .contacts__item {
      @media (max-width: 1024px) {
        margin-left: 20px;
        position: relative;
        overflow: hidden;
      }
    }
    .contacts__text {
      @media (max-width: 1440px) {
        font-size: 20px;
      }
      @media (max-width: 1024px) {
        position: absolute;
        left: 0;
        white-space: nowrap;
        transform: translateX(-100%);
      }
    }
    .contacts__pic {
      @media (max-width: 1440px) {
        width: 30px;
        height: 30px;
        font-size: 20px;
        line-height: 30px;
      }
      @media (max-width: 1024px) {
        margin-right: 0;
      }
    }
  }
}
