.main {
  width: 100%;
  position: relative;
  padding:  0 2% 0 9%;
  @media (max-width: 899px) {
    padding-left: 16px;
    padding-right: 16px;
  }
  @include for-phone-only {
    padding: 0;
  }
}
