section.contact-section.decor#contacts
  h2.contact-section__heading Контакты
  a.contact-section__link.contact-section__link_tel(href="tel:044 220 45 45") 044 220 45 45
  a.contact-section__link.contact-section__link_email(href="mailto:info@innovoclinic.com") info@innovoclinic.com
  
  //- Map
  #map

div.mob-address
  a(href="#")
