footer.footer.decor
  p.footer__copy 
    | 2016 — Стоматологическая клиника инново.
    br.visible-xs
    | Все права защищены
  
  a(href="http://mdvs.pro", target="_blank", class="footer__mdvs")
    img(src="img/mdvs.png", alt="mdvs")

a.go-top.scroll-to(href="#top")
  i.ion-ios-arrow-thin-up

script(src="js/vendor.js")
script(src="js/main.js")
script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNvT3YW0fmkDHPlqmidQXATxvNAN_TiYw&callback=initMap")
