header.header
  a.header__logo(href="#")
    img.img-responsive(src="img/logo.svg" alt="Innovo")

  ul.contacts.header__contacts
    li.contacts__item.contacts__item_address
      span.contacts__pic
        i.ion-ios-location-outline
          
      span.contacts__text Киев, ул.Десятинная 13
      
    li.contacts__item.contacts__item_phone
      span.contacts__pic
        i.ion-ios-telephone-outline
          
      span.contacts__text 044 220 45 45
