.overlay

.mobile
  a.mobile__link(href="#")
    
  button.mobile__close
    i.ion-ios-close-empty

button.hamburger.hamburger--spring.menu-btn(type="button")
  span.hamburger-box
    span.hamburger-inner
