nav.nav
  ul.nav__list
    each item in nav
      li
        a(href=`${item.href}`) #{item.name}
        
  .socials
    a(href="#")
      i.ion-social-instagram-outline
      | Instagram
    a(href="#")
      i.ion-social-facebook
      | Facebook
