.about {
  &.decor {
    &::before {
      top: 195px;
      @include for-tablet-portait-only {
        top: 65px;
      }
      @include for-phone-only {
        top: 45px;
      }
    }
    &::after {
      top: 190px;
      @include for-tablet-portait-only {
        top: 60px;
      }
      @include for-phone-only {
        top: 40px;
      }
    }
  }
  .owl-carousel {
    @media (max-width: 1199px) {
      margin-top: 40px;
      max-width: 800px;
    }
    @include for-phone-only {
      margin-left: -30px;
      width: calc(100% + 60px);
    }
    img {
      width: auto;
    }
  }
  .owl-item {
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba($accent, 0.28);
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
    }
  }
  .owl-nav {
    width: 164px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    @include for-phone-only {
      width: 120px;
      height: 30px;
    }
    &::before {
      content: "";
      display: block;
      width: 2px;
      height: 100%;
      background-color: rgba($light-grey, 0.14);
      position: absolute;
      left: 50%;
      margin-left: -1px;
      top: 0;
      z-index: 2;
    }
    .owl-prev,
    .owl-next {
      width: 50%;
      background-color: $accent;
      font-size: 48px;
      font-weight: 300;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all $duration $timing-function;
      &.disabled {
        opacity: 0;
        cursor: default;
        pointer-events: none;
      }
      @include for-phone-only {
        font-size: 36px;
        transition-duration: 100ms;
      }
      &:hover {
        background-color: darken($accent, 10%);
        @include for-phone-only {
          background-color: $accent;
        }
      }
      &:active {
        background-color: darken($accent, 10%);
      }
    }
  }
  p {
    max-width: 420px;
    @media (max-width: 1199px) {
      max-width: 800px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
