.services {
  border-bottom: 2px solid $bg-color;
  &__content {
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
  }
  &__left {
    width: 63%;
  }
  &__right {
    width: 37%;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(#57575a, 0.15);
    li {
      width: 50%;
      position: relative;
      border-top: 1px solid rgba(#57575a, 0.15);
      border-left: 1px solid rgba(#57575a, 0.15);
    }
    a {
      display: block;
      height: 280px;
      padding: 130px 15% 0 30%;
      font-family: $main-font;
      font-size: 36px;
      line-height: 54px;
      color: $black;
      text-align: right;
      transition: all $duration $timing-function;
      &:hover,
      &:focus {
        text-decoration: none;
        color: $white;
        background-color: $accent-dark;
      }
      &:visited {
        color: $black;
        text-decoration: none;
      }
    }
  }
  &__figure {
    height: 920px;
    overflow: hidden;
    img {
      display: block;
      width: auto;
      height: 100%;
    }
  }
}
