.top {
  width: 100%;
  height: 924px;
  position: relative;
  border-bottom: 2px solid $bg-color;
  background: {
    image: url(../img/top-bg-2.jpg);
    repeat: no-repeat;
    position: center top;
    size: cover;
  }
  z-index: 2;
  &.is-active {
    z-index: 20;
  }
  @media (max-width: 1440px) {
    height: auto;
    min-height: 700px;
  }
  @media (max-width: 1024px) {
    min-height: 760px;
    background-position: right -180px center;
  }
  @include for-tablet-portait-only {
    background-position: right 22% center;
  }
  @include for-phone-only {
    min-height: auto;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0;
    background: none;
  }
  &__about {
    max-width: 400px;
    padding: 65px 75px;
    box-shadow: 0 2px 32px rgba($black, 0.14);
    border-bottom: 9px solid $accent;
    position: absolute;
    top: 70px;
    left: 55px;
    z-index: 2;
    &.decor {
      &::before {
        width: 1px;
        height: 40px;
        top: 0;
        left: 110px;
        @media (max-width: 1440px) {
          height: 30px;
          left: 60px;
        }
        @media (max-width: 899px) {
          height: 30px;
          left: 80px;
        }
        @include for-phone-only {
          height: 20px;
          left: 40px;
        }
      }
      &::after {
        left: 105px;
        top: 40px;
        @media (max-width: 1440px) {
          top: 30px;
          left: 55px;
        }
        @media (max-width: 899px) {
          top: 30px;
          left: 75px;
        }
        @include for-phone-only {
          top: 20px;
          left: 35px;
        }
      }
    }
    @media (max-width: 1440px) {
      padding: 50px 40px;
      max-width: 280px;
    }
    @media (max-width: 1024px) {
      padding: 50px 60px;
      bottom: 0;
      top: auto;
      max-width: 100%;
      left: 0;
      width: 100%;
      border-bottom: none;
      box-shadow: none;
    }
    @include for-phone-only {
      padding: 60px 90px 60px 30px;
      position: relative;
      border-bottom: 2px solid $bg-color;
    }
  }
  &__h1 {
    font-family: $main-font;
    font-size: 26px;
    font-weight: 600;
    line-height: 42px;
    color: $black;
    margin: 0 auto 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    @media (max-width: 1440px) {
      line-height: 36px;
      font-size: 20px;
    }
    @media (max-width: 1024px) {
      line-height: 30px;
    }
  }
  &__lead {
    font-family: $main-font;
    font-size: 30px;
    font-weight: 100;
    line-height: 48px;
    color: $black;
    margin-bottom: 0;
    text-transform: uppercase;
    @media (max-width: 1440px) {
      font-size: 24px;
      line-height: 36px;
    }
  }
  .top__img-mob {
    display: none;
    @include for-phone-only {
      display: block;
    }
  }
}
